.navbar {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: rgb(116, 30, 113);
    background: linear-gradient(0deg, rgba(116, 30, 113, 1) 0%, rgba(10, 22, 84, 1) 100%);
    background-repeat: no-repeat;
    color: #CAF7F3;
    font-family: Segoe UI;
}
.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    color: #EDDCFF;
    height: 60px;
    background: #2A0254;
    margin: -8px;
}

.nav-links a {
    color: #EDDCFF;
    text-decoration: none;
}

.logo img {
    height: 50px;
    width: 200px;
}

.menu {
    display: flex;
    gap: 1em;
    font-size: 18px;
}

.menu li {
    padding: 5px 14px;
}

.menu li:hover{
    background:#051a46;
    border-radius: 20px 5px;
    transition: 0.26s ease-in;
}

.starsAndConstellations {
    position: relative;
}

.dropdown {
    background: linear-gradient(0deg, rgba(5,26,70,1) 0%, rgba(43,2,85,1) 100%);
    margin-left: -13px;
    position: absolute;
    display: none;
    border-radius: 10px;
    top: 35px;
    text-align: center;
    list-style-position: inside;  
}

.dropdown li {
    display: inline-block;
    text-align: center;
    padding-right: 40px;
}

.dropdown li:hover {
    background: transparent;
}

.starsAndConstellations:hover .dropdown {
    display: block;
}

.navbar ul{
    list-style-type: none;
}

h1 {
    text-align: center;
    font-family: Playfair Display;
    font-size: 40px;
    font-weight: 700;
    margin-top: 100px;
}

p {
    font-size: 20px;
    line-height: 180%;
    width: 85vw;
}

h2 {
    font-size: 33px;
    color: #7CE4DC;
    ;
    text-align: center;
}

.form {
    position: relative;
    display: block;
    padding: 2.0rem 2.0rem 0 2.0rem;
    width: 85vw;
    border-radius: 20px;
    background: rgb(13, 29, 112);
    background: linear-gradient(90deg, rgba(13, 29, 112, 1) 0%, rgba(84, 35, 130, 1) 65%, rgba(153, 40, 148, 1) 100%);
    border: 2px solid #F5F5F5;
    -webkit-box-shadow: rgb(6, 81, 111) 0px 0px 50px -15px;
    box-shadow: rgb(6, 81, 111) 0px 0px 50px -15px;
    overflow: hidden;
    z-index: +1;
}

/*------input and submit section-------*/

.input-container {
    position: relative;
}

.input-container input,
.form button {
    outline: none;
    font-family: monospace;
}

.input-container input {
    width: 245px;
    min-height: 45px;
    color: #fff;
    color-scheme: dark;
    outline: none;
    transition: 0.35s;
    padding: 0px 7px;
    background-color: #060E38;
    border-radius: 6px;
    border: 2px solid #060E38;
    box-shadow: 2px 2px 5px #8196FD,
        0px 0px 5px #fcaffa;
}

select {
    width: 245px;
    min-height: 45px;
    color: #fff;
    outline: none;
    transition: 0.35s;
    padding: 0px 7px;
    background-color: #060E38;
    border-radius: 6px;
    border: 2px solid #060E38;
    box-shadow: 2px 2px 5px #8196FD,
        0px 0px 5px #fcaffa;
}

.submit {
    align-items: center;
    background: linear-gradient(144deg, #D14CCC, #1F45FC);
    border: 0;
    border-radius: 8px;
    box-shadow: rgba(151, 65, 252, 0.2) 0 15px 30px -5px;
    box-sizing: border-box;
    color: #F2F2F2;
    display: flex;
    font-family: Segoe UI;
    font-size: 17px;
    justify-content: center;
    line-height: 1em;
    max-width: 100%;
    min-width: 140px;
    padding: 3px;
    text-decoration: none;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    white-space: nowrap;
    cursor: pointer;
    transition: all .3s;
}

.submit:active,
.submit:hover {
    outline: 0;
}

.submit span {
    background-color: #060E38;
    padding: 10px 10px;
    border-radius: 6px;
    width: 100%;
    height: 50%;
    transition: 300ms;
}

.submit:hover span {
    background: none;
}

.submit:active {
    transform: scale(0.9);
}

.center {
    display: flex;
    justify-content: center;
    gap: 100px;
    margin-top: 25px;

}

/*--------header section-----------*/

.form-title {
    font-size: 1.25rem;
    line-height: 1.55rem;
    font-family: Segoe UI;
    font-weight: 600;
    text-align: center;
    color: #F2F2F2;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.7);
    animation-duration: 1.5s;
    overflow: hidden;
    transition: .12s;
}


.title-2 {
    display: block;
    margin-top: -0.5rem;
    font-size: 1.9rem;
    font-weight: 800;
    font-family: Segoe UI;
    text-align: center;
    -webkit-text-stroke: #F2F2F2.1rem;
    letter-spacing: 0.2rem;
    color: transparent;
    position: relative;
    text-shadow: 0px 0px 16px #CECECE;
}

.title-2 span::before,
.title-2 span::after {
    content: '—';
}

/*---------shooting stars-----------*/


.bg-stars {
    position: absolute;
    top: 0;
    left: 0;
    width: 80%;
    height: 100%;
    z-index: -2;
    background-size: cover;
    animation: animateBg 50s linear infinite;
}

@keyframes animateBg {

    0%,
    100% {
        transform: scale(1);
    }

    50% {
        transform: scale(1.2);
    }
}

.star {
    position: absolute;
    top: 80%;
    left: 10%;
    width: 4px;
    height: 4px;
    background: #F2F2F2;
    border-radius: 50%;
    box-shadow: 0 0 0 4px rgba(255, 255, 255, 0.1), 0 0 0 8px rgba(255, 255, 255, 0.1), 0 0 20px rgba(255, 255, 255, 0.1);
    animation: animate 3s linear infinite;
}

.star::before {
    content: '';
    position: absolute;
    top: 90%;
    transform: translateY(-50%);
    width: 300px;
    height: 1px;
    background: linear-gradient(90deg, #fff, transparent);
}

@keyframes animate {
    0% {
        transform: rotate(320deg) translateX(0);
        opacity: 1;
    }

    70% {
        opacity: 1;
    }

    100% {
        transform: rotate(320deg) translateX(-1000px);
        opacity: 0;
    }
}


.star:nth-child(1) {
    top: -10px;
    right: -300px;
    left: initial;
    animation-delay: 0s;
    animation-duration: 3s;
}

.star:nth-child(2) {
    top: -10px;
    right: -100px;
    left: initial;
    animation-delay: 0.2s;
    animation-duration: 3s;
}

.star:nth-child(3) {
    top: -10px;
    right: 100px;
    left: initial;
    animation-delay: 0.6s;
    animation-duration: 3s;
}

.star:nth-child(4) {
    top: -10px;
    right: 300px;
    left: initial;
    animation-delay: 0.8s;
    animation-duration: 3s;
}

.star:nth-child(5) {
    top: -10px;
    right: 500px;
    left: initial;
    animation-delay: 1s;
    animation-duration: 3s;
}

.star:nth-child(6) {
    top: -10px;
    right: 700px;
    left: initial;
    animation-delay: 1.2s;
    animation-duration: 3s;
}

.star:nth-child(7) {
    top: -10px;
    right: 900px;
    left: initial;
    animation-delay: 1.4s;
    animation-duration: 3s;
}

.star:nth-child(8) {
    top: -10px;
    right: 1100px;
    left: initial;
    animation-delay: 1.6s;
    animation-duration: 3s;
}

form p {
    text-align: center;
    margin-top: 30px;
    font-size: 18px;
    font-style: italic;
}

#popupContainer {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #0A0F3C;
    /* border: 1px solid #0A0F3C; */
    padding: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    z-index: 999;
}

#closeButton {
    cursor: pointer;
    font-size: 19px;
    color: #A9C5FF;
    font-weight: 700;
    float: right;
    margin: -8px 20px 5px;
}


#whatAreConstellations {
    display: flex;
    justify-content: center;
    gap: 150px;
    margin-top: 50px;
}


#whatAreConstellations img {
    width: 400px;
    border-radius: 10px;
}

#visibleConstellations figure {
    text-align: center;
    margin-top: 50px;
}

#visibleConstellations img {
    width: 85vw;
}

#visibleConstellations img {
    border-radius: 10px;
}

#visibleConstellations figcaption {
    font-weight: 350;
    font-size: 17px;
}

#seasons .container {
    position: relative;
}

#seasons .centerBtn {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

#seasons p {
    line-height: 240%;
}

.signupBtn {
    /* margin-top: -63px; */
    width: 150px;
    height: 46px;
    border-radius: 30px;
    border: none;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding-left: 13px;
    gap: 9px;
    color: whitesmoke;
    background: rgb(209, 76, 204);
    background: linear-gradient(90deg, rgba(209, 76, 204, 1) 0%, rgba(31, 69, 252, 1) 100%);
    position: relative;
    cursor: pointer;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.212);
    font-weight: 600;
}

.arrow {
    position: absolute;
    right: 9px;
    background-color: rgb(245, 245, 245);
    width: 33px;
    height: 33px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 30px;
    transition: all .5s ease;
}

.signupBtn:hover .arrow {
    width: calc(140px - (4px)*2);
    background-color: rgb(245, 245, 245);
}

a {
    text-decoration: none;
}

#shorterText{
    width: 50vw;
}

#seasons{
    margin-bottom: 3%;
}