* {
  margin: 0;
  padding: 0;
}

body {
  color: #E6CEFF;
  font-family: 'Raleway', sans-serif;
}

html {
  background: linear-gradient(0deg, rgba(43, 2, 85, 1) 0%, rgba(5, 26, 70, 1) 100%)!important;
}

#smallerScreenNav {
  display: none;
}
h2, h3{
  font-family: 'Outfit', sans-serif;
}

#text h2,
#text h3,
#text p {
  color: #E6CEFF;
  text-align: center;
  margin: 1.5%;
  font-size: 1.4vw;
}

#text h2 {
  font-size: 2.5vw;
}

#text h3 {
  font-weight: 540;
  font-size: 1.8vw;
}

canvas {
  border-radius: 10px;
}

.section,
.sectionBiggerScreen {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 150px;
  margin-top: 100px;
}

.section p,
.sectionBiggerScreen p,
.sectionPhone p {
  font-size: 25px;
  line-height: 1.8em;
}

.sectionPhone {
  display: none;
}

@media (max-width: 600px) {
  #biggerSceenNav {
    display: none;
  }

  #smallerScreenNav {
    display: flex;
  }
}

@media (max-width: 450px) {

  .sectionPhone p,
  .section p {
    margin-bottom: 20px;
  }

  img {
    width: 70vw;
    height: 50%;
  }

  #text h2 {
    font-size: 12vw;
  }

  #text h3 {
    font-size: 7.5vw;
  }

  #text p {
    font-size: 6vw;
  }
}

@media (min-width:450px) and (max-width:650px) {
  #text h2 {
    font-size: 7vw;
  }

  #text h3 {
    font-size: 4.5vw;
  }

  #text p {
    font-size: 3.5vw;
  }
}

@media (min-width:650px) and (max-width:1008px) {
  #text h2 {
    font-size: 4vw;
  }

  #text h3 {
    font-size: 2.5vw;
  }

  #text p {
    font-size: 2vw;
  }
}

@media (max-width: 1008px) {
  img {
    height: 50%;
  }

  .uk-column-1-2 {
    display: contents;
  }

  .section,
  .sectionPhone {
    display: block;
    text-align: center;
    margin-bottom: -50px;
  }

  .pageExplanation {
    text-align: center;
  }

  .sectionPhone {
    margin-top: 40px;
  }

  .sectionPhone p,
  .section p {
    margin: 25px;
  }

  .sectionBiggerScreen {
    display: none;
  }
}

@media (min-width:1009px) and (max-width:1400px) {

  .section p,
  .sectionBiggerScreen p,
  .sectionPhone p {
    width: 40vw;
    font-size: 1.8vw;
  }
}

@media (min-width:1400px) and (max-width:2200px) {

  .section p,
  .sectionBiggerScreen p,
  .sectionPhone p {
    width: 35vw;
    font-size: 1.8vw;
  }

  .section,
  .sectionBiggerScreen {
    gap: 20%;
  }
}

@media (min-width: 2200px) {
  img {
    width: 700px;
    height: 650px;
  }

  p,
  .section p,
  .sectionBiggerScreen p,
  .sectionPhone p {
    font-size: 50px;
    width: 40vw;
  }

  .sectionBiggerScreen,
  .section {
    gap: 15%;
  }

}