* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: linear-gradient(0deg, rgba(43, 2, 85, 1) 0%, rgba(5, 26, 70, 1) 100%);
    background-repeat: no-repeat;
    color: #E6CEFF;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    color: #E6CEFF;
    height: 7vh;
    background: rgba(11, 1, 15, 0.52);
}

.nav-links {
    text-align: center;
}

.nav-links a {
    color: whitesmoke;
    text-decoration: none;
}

.logo img {
    height: 7vh;
    width: auto;
}

.menu {
    display: flex;
    align-items: center;
    gap: 1em;
    font-size: 1.4vw;
}

.menu li {
    padding: 5px 14px;
}

.menu li:hover {
    background: #360453be;
    border-radius: 20px 5px;
    transition: 0.26s ease-in;
}

.starsAndConstellations {
    position: relative;
}

.dropdown {
    background: linear-gradient(#090D29, #2A0254);
    margin-left: -13px;
    position: absolute;
    display: none;
    border-radius: 10px;
    top: 100%;
    text-align: center;
    list-style-position: inside;
}

.dropdown li {
    display: inline-block;
    text-align: center;
    margin: 0 10px;
}

.dropdown li:hover {
    background: transparent;
    border-radius: 8px 20px;
}

.starsAndConstellations:hover .dropdown {
    display: block;
}

.navbar ul {
    list-style-type: none;
}

img {
    width: 390px;
    height: 340px;
}

.introduction {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 150px;
    font-weight: 400;
    margin: 15px;
}

.introduction .rightImage {
    margin-top: 100px;
}

.text {
    font-size: 24px;
    text-align: center;
    line-height: 2em;
}

.text h2 {
    font-weight: bold;
    font-style: italic;
}

.text h3 {
    font-weight: 500;
    font-style: italic;
}

.pageExplanation {
    font-size: 20px;
    line-height: 2em;
}

.section,
.sectionBiggerScreen {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 150px;
    margin-top: 100px;
}

.section p,
.sectionBiggerScreen p,
.sectionPhone p {
    font-size: 24px;
    line-height: 2em;
}

.sectionPhone {
    display: none;
}

@media (max-width: 388px) {
    .dropdown li {
        font-size: 11px;
    }

    .sectionPhone p,
    .section p {
        margin-bottom: 20px;
    }
}

@media (max-width: 1008px) {
    body {
        width: 100vw;
        margin-bottom: 85px;
    }

    .logo img {
        width: 85px;
        height: auto;
        margin-left: -10px;
    }

    .menu {
        gap: 5%;
    }

    .menu li {
        padding: 0px 14px;
        font-size: 3.5vw;
    }

    .dropdown {
        top: 100%;
        margin-left: -20px;
        font-size: 15px;
        font-weight: 500;
    }

    img {
        width: 70vw;
        height: 50%;
    }

    .starsAndConstellations {
        margin-left: -12px;
    }

    .introduction {
        display: block;
    }

    .introduction .rightImage {
        text-align: center;
        margin-top: 30px;
        margin-right: 0;
    }

    .section,
    .sectionPhone {
        display: block;
        text-align: center;
        margin-bottom: -50px;
    }

    .pageExplanation {
        text-align: center;
    }

    .sectionPhone {
        margin-top: 40px;
    }

    .sectionPhone p,
    .section p {
        margin: 25px;
    }

    .sectionBiggerScreen {
        display: none;
    }
}

@media (min-width: 1009px) and (max-width:2200px) {
    .text {
        font-size: 1.8vw;
        width: 50vw;
    }
}

@media (min-width:1009px) and (max-width:1400px) {

    .section p,
    .sectionBiggerScreen p,
    .sectionPhone p {
        width: 40vw;
        font-size: 1.8vw;
    }

    .introduction .rightImage {
        margin-top: 0;
    }
}

@media (min-width:1400px) and (max-width:2200px) {

    .section p,
    .sectionBiggerScreen p,
    .sectionPhone p {
        width: 35vw;
        font-size: 1.8vw;
    }

    .introduction .rightImage {
        margin-top: 0;
    }

    .section,
    .sectionBiggerScreen {
        gap: 20%;
    }
}

@media (min-width: 2200px) {
    img {
        width: 700px;
        height: 650px;
    }

    h2 {
        font-size: 73px;
        margin-bottom: 25px;
    }

    h3 {
        font-size: 63px;
        margin-bottom: 25px;
    }

    p,
    .section p,
    .sectionBiggerScreen p,
    .sectionPhone p {
        font-size: 50px;
        width: 40vw;
    }

    .introduction {
        gap: 300px;
    }

    .sectionBiggerScreen,
    .section {
        gap: 15%;
    }

    .text {
        font-size: 1vw;
        text-align: center;
        line-height: 2.5em;
        width: 40vw;
    }
}