.button {
    display: none;
    position: fixed;
    bottom: 10px;
    right: 8px;
    z-index: 99;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: rgb(20, 20, 20);
    border: none;
    font-weight: 600;
    box-shadow: 0px 0px 0px 2px #d5aeff;
    cursor: pointer;
    transition-duration: 0.3s;
    overflow: hidden;
}

.svgIcon {
    width: 12px;
    transition-duration: 0.3s;
}

.svgIcon path {
    fill: white;
}

.button:hover {
    border-radius: 50px;
    transition-duration: 0.3s;
    background-color: #d5aeff;
    align-items: center;
}