body {
    background: linear-gradient(0deg, rgba(62, 3, 122, 1) 0%, rgba(5, 4, 119, 1) 100%);
    background-repeat: no-repeat;
    font-family: Segoe UI;
    color: #C5CCFC;
    overflow-x: hidden;
}

.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    color: #E6CEFF;
    height: 60px;
    background: #000B53;
    margin: -8px;
    padding: 0;
}

.nav-links a {
    color: #C5CCFC;
    text-decoration: none;
}

.logo img {
    height: 50px;
    width: 200px;
}

.menu {
    display: flex;
    align-items: center;
    gap: 1em;
    font-size: 18px;
}

.menu li {
    padding: 5px 14px;
}

.menu li:hover {
    background: #310082;
    border-radius: 20px 5px;
    transition: 0.26s ease-in;
}

.starsAndConstellations {
    position: relative;
}

.dropdown {
    background: linear-gradient(#000B53, #070476);
    margin-left: -20px;
    position: absolute;
    display: none;
    border-radius: 10px;
    top: 35px;
    text-align: center;
    list-style-position: inside;
}

.dropdown li {
    display: inline-block;
    text-align: center;
    padding-right: 40px;
}

.dropdown li:hover {
    background: transparent;
}

.starsAndConstellations:hover .dropdown {
    display: block;
}

.navbar ul {
    list-style-type: none;
}


header {
    background: linear-gradient(90deg, rgba(62, 3, 122, 1) 0%, rgba(49, 0, 130, 1) 50%, rgba(7, 4, 118, 1) 100%);
    text-align: center;
}

#heading {
    margin-top: 40px;
}

.icon {
    background: url(./images/SearchIcon.png) no-repeat left;
    background-size: 17px;
    width: 300px;
    padding: 7px 25px;
    border: 1px solid #9daaff;
    color: #9daaff;
    border-radius: 30px;
    background-position: 7px 7px;
    margin-bottom: 20px;
}

::placeholder {
    color: #9daaff;
}

.navigation {
    background-color: #000B53;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 50px;
    margin-top: 40px;
    margin-left: -1.5%;
    width: 102%;
}

.navigation a {
    float: left;
    color: #9daaff;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    position: relative;
}

.triangle {
    width: 0;
    height: 0;
    border-left: 15px solid transparent;
    border-right: 15px solid transparent;
    border-top: 25px solid #000B53;
    border-radius: 0 0 10px 10px;
    position: absolute;
    top: 124%;
    left: 48%;
    transform: translate(-50%, -50%);
}

.centered-item {
    position: relative;
}


main {
    margin-top: 30px;
}

section {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
}

.smallerScreenSection {
    display: none
}

.rightText {
    text-align: right;
}

p {
    font-size: 20px;
    line-height: 210%;
}


h2 {
    font-size: 33px;
    color: #9daaff;
}

.img {
    width: 25vw;
}

.content {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 170px;
}

.center {
    display: flex;
    align-items: center;
    justify-content: center;
}

figcaption {
    color: #C5CCFC;
    text-align: center;
    font-size: 18px;
    font-weight: 300;
    line-height: 180%;
    width: 350px;
}

#binary {
    height: 45vh;
}


.btn {
    margin: auto;
    margin-bottom: 2%;
    align-items: center;
    background-image: linear-gradient(144deg, #AF40FF, #5B42F3 50%, #00DDEB);
    border: 0;
    border-radius: 8px;
    box-shadow: rgba(151, 65, 252, 0.2) 0 15px 30px -5px;
    box-sizing: border-box;
    color: #FFFFFF;
    display: flex;
    font-family: Phantomsans, sans-serif;
    font-size: 15px;
    justify-content: center;
    line-height: 1em;
    max-width: 100%;
    min-width: 140px;
    padding: 3px;
    text-decoration: none;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    white-space: nowrap;
    cursor: pointer;
    transition: all .3s;
}

.btn:active,
.btn:hover {
    outline: 0;
}

.btn span {
    background-color: rgb(5, 6, 45);
    padding: 10px 10px;
    border-radius: 6px;
    width: 100%;
    height: 100%;
    transition: 300ms;
}

.btn:hover span {
    background: none;
}

.btn:active {
    transform: scale(0.9);
}


@media (min-width: 1600px) {
    header {
        margin: -40px 0 -40px -10px;
    }

    .icon {
        background-size: 1.1vw;
        width: 23vw;
        padding: 0.3% 2%;
        background-position: 1%;
        font-size: 1.1vw;
    }

    .navigation{
        margin-left: -1.7%;
    }

    #binary {
        height: 50vh;
        margin-top: 5%;
    }

    .img {
        width: 24vw;
        height: 45vh;
    }

    figure{
        margin-top: 20%;
    }

    .text p, .rightText p {
        font-size: 1.4vw;
        line-height: 210%;
    }
}

@media (min-width: 1500px) and (max-width:1600px) {
    header {
        margin: -43px 0 -43px -10px;
    }

    .icon {
        background-size: 20px;
        width: 23vw;
        padding: 7px 33px;
        background-position: 10px 6px;
        font-size: 17px;
    }

    #multiple{
        margin-top: 10%;
    }
    #binary {
        height: 45vh;
        margin-top: 15%;
    }

    .img {
        width: 25vw;
        height: 45vh;
        margin-top: 10%;
    }

    figure{
        margin-top: 15%;
    }

    .text p {
        font-size: 1.3vw;
    }

    .rightText p {
        font-size: 1.4vw;
    }

}

@media (min-width: 1500px) {

    .navbar {
        height: 7vh;
    }

    .logo img {
        height: 7vh;
        width: auto;
    }

    .menu {
        font-size: 1.2vw;
    }

    .dropdown {
        top: 95%;
        width: 100%;
    }

    #heading {
        font-size: 2vw;
    }

    .navigation a {
        font-size: 1.3vw;
    }

    .triangle {
        top: 115%;
    }


    .text,
    .rightText {
        width: 45vw;
    }

    #introdusingText {
        font-size: 1.5vw;
    }

    .rightAlign {
        margin-right: -9%;
    }

    figcaption {
        font-size: 1.3vw;
        width: 24vw;
    }

    h2 {
        font-size: 2.3vw;
    }

}

@media (min-width: 1300px) and (max-width:1500px) {
    header {
        margin: -40px -8px;
    }

    section {
        margin: 3%;
    }

    .content {
        gap: 15%;
    }

    .text {
        width: 52vw;
    }

    .rightText {
        margin-right: 20px;
        width: 52vw;
    }

    .images {
        margin-top: 7%;
    }
}


@media (min-width: 1250px) and (max-width:1300px) {
    header {
        margin: -40px -8px;
    }

    section {
        margin: 3%;
    }

    .content {
        gap: 10%;
    }

    .rightText {
        margin-right: 20px;
    }

    .images {
        margin-top: 7%;
    }
}

@media (min-width: 1100px) and (max-width:1200px) {
    .img {
        width: 30vw;
        height: auto;
        margin-top: 5%;
    }

    figure {
        margin: 5vh 0 0 0;
    }

    figcaption {
        width: 30vw;
    }

    .images {
        margin-top: 5%;
    }
}

@media (min-width: 1000px) and (max-width:1100px) {
    .img {
        width: 28vw;
        height: auto;
        margin-top: 21%;
    }

    figure {
        margin: 5vh 0;
    }

    figcaption {
        width: 30vw;
    }

    .images {
        margin-top: 0;
    }
}

@media (min-width: 950px) and (max-width:1000px) {
    figure {
        margin: 31% 0 0 0;
    }

    .img {
        width: 30vw;
        height: auto;
        margin-top: 20%;
    }

    figcaption {
        width: 30vw;
    }

    .images {
        margin-top: 0;
    }
}

@media (min-width: 950px) and (max-width:1250px) {
    header {
        width: 100vw;
        margin: -40px -8px;
    }

    .navigation {
        margin-left: -8px;
        width: 100vw;
    }

    .content {
        gap: 10%;
    }


    .text p,
    .rightText p {
        width: 50vw;
        padding: 0 0;
        font-size: 1.8vw;
        line-height: 200%;
    }

    .rightText {
        margin-top: 15px;
    }
}

@media (min-width: 680px) and (max-width:950px) {
    .triangle {
        top: 120%;
    }

    .dropdown {
        margin-left: -15px;
        top: 100%;
        width: 75%;
    }

    .dropdown li {
        margin: 0 -80px;
        display: inline-block;
        text-align: center;
        padding-right: 0;
    }

    .dropdown a {
        margin-left: -50px;
    }

    .navigation {
        gap: 1em;
    }

    .img {
        width: 70vw;
        height: 60vh;
    }

    #binary {
        height: 56vh;
    }

    figcaption {
        width: 70vw;
    }
}

@media (min-width: 494px) and (max-width:680px) {
    .triangle {
        top: 120%;
    }

    .dropdown {
        margin-left: -15px;
        top: 100%;
        width: 75%;
    }

    .dropdown li {
        margin: 0 -80px;
        display: inline-block;
        text-align: center;
        padding-right: 0;
    }

    .dropdown a {
        margin-left: -50px;
    }

    .navigation {
        gap: 1em;
    }

    .img {
        width: 90vw;
        height: 60vh;
    }

    figcaption {
        width: 90vw;
    }
}

@media (min-width: 446px) and (max-width:494px) {
    .triangle {
        top: 115%;
    }

    .dropdown {
        margin-left: -15px;
        top: 100%;
        width: 75%;
    }

    .dropdown li {
        margin: 0 -80px;
        display: inline-block;
        text-align: center;
        padding-right: 0;
    }

    .dropdown a {
        margin-left: -50px;
    }

    .navigation {
        gap: 1em;
    }


    .img {
        width: 90vw;
        height: 60vh;
    }

    figcaption {
        width: 90vw;
    }
}

@media (min-width: 375px) and (max-width:446px) {
    .navbar {
        padding: 10px;
        height: 30px;
    }

    .logo img {
        height: 40px;
        width: auto;
    }

    .dropdown {
        margin-left: -15px;
        top: 100%;
        width: 75%;
    }

    .dropdown li {
        margin: 0 -80px;
        display: inline-block;
        text-align: center;
        padding-right: 0;
    }

    .dropdown a {
        margin-left: -50px;
    }

    .icon {
        width: 70vw;
        padding: 9px 30px;
        background-position: 7px 8px;
        font-size: 13px;
    }

    .triangle {
        top: 110%;
    }

    .navigation {
        gap: 0;
    }


    .img {
        width: 90vw;
        height: auto;
    }

    figcaption {
        width: 90vw;
    }

}

@media (min-width: 330px) and (max-width:375px) {
    .navbar {
        padding: 10px;
        height: 40px;
    }

    .logo img {
        height: auto;
        width: 100px;
    }

    .dropdown {
        margin-left: -15px;
        top: 100%;
        width: 70%;
    }

    .dropdown li {
        margin: 0 -80px;
        display: inline-block;
        text-align: center;
        padding-right: 0;
    }

    .dropdown a {
        margin-left: -50px;
    }

    .icon {
        width: 70vw;
        padding: 9px 25px;
        background-position: 6px 7px;
        font-size: 11.3px;
    }

    .triangle {
        top: 110%;
    }

    .navigation {
        gap: 0;
    }


    .img {
        width: 90vw;
        height: auto;
    }

    figcaption {
        width: 90vw;
    }

}

@media (max-width: 330px) {
    .navbar {
        padding: 10px;
        height: 40px;
    }

    .logo img {
        height: auto;
        width: 100px;
    }

    .dropdown {
        margin-left: -15px;
        top: 100%;
        width: 75px;
    }

    .dropdown li {
        margin: 0 -80px;
        display: inline-block;
        text-align: center;
        padding-right: 0;
    }

    .dropdown a {
        margin-left: -50px;
    }

    .icon {
        width: 70vw;
        padding: 9px 25px;
        background-position: 6px 7px;
        font-size: 11.3px;
    }

    .triangle {
        top: 110%;
    }

    .navigation {
        gap: 0;
    }


    .img {
        width: 90vw;
        height: auto;
    }

    figcaption {
        width: 90vw;
    }

}

@media (max-width: 950px) {
    .menu {
        text-align: center;
        gap: 0.3em;
        font-size: 14px;
        margin-left: -20px;
    }

    header {
        margin: -40px -8px;
        width: 100vw;
    }

    .navigation {
        display: inline-flex;
        align-items: center;
        justify-content: center;
        margin-top: 40px;
        margin-left: -8px;
        width: 100vw;
    }

    .navigation a {
        font-size: 16px;
    }

    main {
        margin-top: 0;
    }

    section {
        display: block;
    }

    .biggerScreenSection {
        display: none;
    }

    .smallerScreenSection {
        display: block;
    }

    .content {
        display: block;
    }

    h2 {
        text-align: center;
    }

    .text p,
    .rightText p {
        width: 90vw;
        padding: 0 4%;
        font-size: 18px;
        text-align: center;
    }

    figure {
        margin: 0;
        display: inline-block;
    }

    .images {
        text-align: center;
    }
}