html {
    background: rgba(116, 30, 113, 1) !important;
}

body {
    background: linear-gradient(0deg, rgba(116, 30, 113, 1) 0%, rgba(10, 22, 84, 1) 100%);
    color: #CAF7F3 !important;
    font-family: 'Raleway', sans-serif !important;

}

#smallerScreenNav {
    display: none;
}

h1,
h2 {
    color: #7CE4DC!important;
    font-family: 'Outfit', sans-serif!important;
}

h1 {
    font-weight: 700;
}

h2 {
    font-weight: 600;
}

figure {
    width: 25vw;
    height: auto;
}

.textCentered {
    font-size: 1.25rem;
    line-height: 175%;
    width: 85vw;
}

figcaption {
    font-size: 1.15rem;
    line-height: 180%;
}

.uk-column-1-2 {
    column-gap: 20vw !important;
}

.text p {
    font-size: 1.25rem;
    line-height: 190%;
    width: 34vw;
}


@media (min-width: 2000px) {
    h1 {
        margin-top: 2%;
        font-size: 2.5vw;
        ;
    }

    h2 {
        font-size: 2.5vw;
    }

    .textCentered,
    .text p {
        font-size: 1.4vw;
        line-height: 200%;
    }

    figcaption {
        font-size: 1.3vw;
    }
}

@media (max-width:850px) {
    .uk-column-1-2 {
        display: contents !important;
    }

    .reverse {
        display: inline-flex !important;
        flex-direction: column-reverse;
        width: 100% !important;
    }

    .text p {
        width: 90vw;
        margin: auto;
        text-align: justify;
    }

    figure {
        margin: auto!important;
        width: 55vw;
        margin-top: 5%!important;
    }

    p{
        text-align: justify!important;
    }
}

@media (max-width: 600px) {
    #biggerSceenNav {
        display: none;
    }

    #smallerScreenNav {
        display: flex;
    }
}

@media (max-width:450px) {
    figure {
        width: 80vw;
        text-align: center;
    }
    .text p {
        width: 85vw;
    }
}