body {
    background: linear-gradient(0deg,rgba(62, 3, 122, 1)  0%, rgba(5, 4, 119, 1) 100%);
    background-repeat: no-repeat;
    font-family: Segoe UI;
    color: #C5CCFC;
    overflow-x: hidden;
}

.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    color: #E6CEFF;
    height: 60px;
    background: #000B53;
    margin: -8px;
    padding: 0;
}

.nav-links a {
    color: #C5CCFC;
    text-decoration: none;
}

.logo img {
    height: 50px;
    width: 200px;
}

.menu {
    display: flex;
    gap: 1em;
    font-size: 18px;
}

.menu li {
    padding: 5px 14px;
}

.menu li:hover {
    background: #310082;
    border-radius: 20px 5px;
    transition: 0.26s ease-in;
}

.starsAndConstellations {
    position: relative;
}

.dropdown {
    background: linear-gradient(#000B53, #070476);
    margin-left: -20px;
    position: absolute;
    display: none;
    border-radius: 10px;
    top: 35px;
    text-align: center;
    list-style-position: inside;
}

.dropdown li {
    display: inline-block;
    text-align: center;
    padding-right: 40px;
}

.dropdown li:hover{
    background: transparent;
}

.starsAndConstellations:hover .dropdown {
    display: block;
}

.navbar ul {
    list-style-type: none;
}

header {
    background: linear-gradient(90deg, rgba(62, 3, 122, 1) 0%, rgba(49, 0, 130, 1) 50%, rgba(7, 4, 118, 1) 100%);
    margin: -40px;
    text-align: center;
    width: 100%;
}

#heading{
    margin-top: 40px;
}
.icon {
    background: url(./images/SearchIcon.png) no-repeat left;
    background-size: 17px;
    width: 300px;
    padding: 7px 25px;
    border: 1px solid #9daaff;
    color: #9daaff;
    border-radius: 30px;
    background-position: 7px 7px;
    margin-bottom: 20px;
}

::placeholder{
    color: #9daaff;
}

.navigation {
    background-color: #000B53;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 50px;
    margin-top: 40px;
    margin-left: -10px;
    width: 99vw;
}

.navigation a {
    float: left;
    color: #B4BEFE;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    position: relative;
}

.triangle {
    width: 0;
    height: 0;
    border-left: 15px solid transparent;
    border-right: 15px solid transparent;
    border-top: 25px solid #000B53;
    border-radius: 0 0 10px 10px;
    position: absolute;
    top: 124%;
    left: 48%;
    transform: translate(-50%, -50%);
}

.centered-item {
    position: relative;
}
video {
    width: 30vw;
    height: auto;
    border-radius: 5px;
    box-shadow: 0px 3px 17px -3px rgba(0, 0, 0, 0.36);
    -webkit-box-shadow: 0px 3px 17px -3px rgba(0, 0, 0, 0.36);
    -moz-box-shadow: 0px 3px 17px -3px rgba(0, 0, 0, 0.36);
    margin-right: 30px;
}

video::-webkit-media-controls-timeline {
    background: linear-gradient(90deg, rgb(219, 87, 255) 0%, rgb(255, 187, 0) 50%, rgba(219, 87, 255) 100%);
    padding-bottom: 0;
    margin-bottom: 10px;
}

video::-webkit-media-controls-volume-slider {
    background: linear-gradient(90deg, rgb(167, 100, 0) 0%, rgb(225, 0, 255) 50%, rgb(140, 0, 255) 100%);
    padding-top: 0;
    margin-top: 20px;
    padding-bottom: 0;
}

.wrapper {
    max-width: 90vw;
    width: 100%;
    position: relative;
}

.wrapper i {
    top: 50%;
    height: 50px;
    width: 50px;
    cursor: pointer;
    font-size: 1.25rem;
    position: absolute;
    text-align: center;
    line-height: 50px;
    background: #010012;
    color: #9daaff;
    border-radius: 50%;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.23);
    transform: translateY(-50%);
    transition: transform 0.1s linear;
    z-index: 100;
}

.wrapper i:active {
    transform: translateY(-50%) scale(0.85);
}

.wrapper i:first-child {
    left: -32px;
}

.wrapper i:last-child {
    right: -32px;
}

.wrapper .carousel {
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: calc((100% / 3) - 20px);
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    gap: 42px;
    border-radius: 5px;
    scroll-behavior: smooth;
    scrollbar-width: none;
}

.carousel::-webkit-scrollbar {
    display: none;
}

.carousel.no-transition {
    scroll-behavior: auto;
}

.carousel.dragging {
    scroll-snap-type: none;
    scroll-behavior: auto;
}

.carousel.dragging .card {
    cursor: grab;
    user-select: none;
}

.carousel .card {
    scroll-snap-align: start;
    height: 320px;
    width: 30vw;
    list-style: none;
    background: #070707;
    color: whitesmoke;
    cursor: pointer;
    flex-direction: column;
    border-radius: 5px;
    text-align: center;
}

@media screen and (max-width: 900px) {
    .wrapper .carousel {
        grid-auto-columns: calc((100% / 2) - 9px);
    }
}

@media screen and (max-width: 600px) {
    .wrapper .carousel {
        grid-auto-columns: 100%;
    }
}

.center{
    display: flex;
    align-items: center;
    justify-content: center;
}