* {
    margin: 0;
    padding: 0;
}

body {
    background: linear-gradient(0deg, rgba(75, 4, 119, 1) 0%, rgba(11, 5, 41, 1) 100%);
    background-repeat: no-repeat;
    color: #EDDCFF;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.navbar {
    display: flex;
    box-sizing: border-box;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    color: #EDDCFF;
    height: 60px;
    background: #2A0254;
}

.nav-links a {
    color: #EDDCFF;
    text-decoration: none;
}

.logo img {
    height: 50px;
    width: 200px;
}

.menu {
    display: flex;
    gap: 1em;
    font-size: 18px;
}

.menu li {
    padding: 5px 14px;
}

.menu li:hover {
    background: #051a46;
    border-radius: 20px 5px;
    transition: 0.26s ease-in;
}

.starsAndConstellations {
    position: relative;
}

.dropdown {
    background: linear-gradient(0deg, rgba(5, 26, 70, 1) 0%, rgba(43, 2, 85, 1) 100%);
    margin-left: -13px;
    position: absolute;
    display: none;
    border-radius: 10px;
    top: 35px;
    text-align: center;
    list-style-position: inside;
}

.dropdown li {
    display: inline-block;
    text-align: center;
    margin: 0 10px;
}

.dropdown li:hover {
    background: transparent;
}

.starsAndConstellations:hover .dropdown {
    display: block;
}

.navbar ul {
    list-style-type: none;
}

header {
    background-image: url(images/background.jpg);
    height: 50vh;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 150px;
}

header img {
    width: 450px;
    height: 300px;
}

.textbox {
    border-radius: 20px;
    background: rgba(9, 13, 41, 0.7);
    width: 450px;
    height: 300px
}

.textbox h1 {
    text-align: center;
    margin-bottom: 30px;
    margin-top: 20px;
}

.textbox p {
    margin-left: 55px;
    font-size: 18px;
}

.map {
    text-align: center;
    margin-top: 40px;
    margin-bottom: 30px;
}

.map h2 {
    margin-bottom: 30px;
}

.cards {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 150px;
    margin-bottom: 40px;
}

.cards img {
    height: 450px;
    width: 420px;
}

figcaption {
    position: relative;
    margin-top: -73px;
    padding-top: 20px;
    background-color: rgba(0, 0, 0, 0.5);
    color: whitesmoke;
    text-align: center;
    font-size: 23px;
    line-height: 1;
    height: 50px;
    border-radius: 20px;
}

a {
    text-decoration: none;
}

h2 {
    font-size: 35px;
    font-weight: 500;
}

iframe{
    width: 70vw;
    height: 80vh;
}