html {
    background: linear-gradient(0deg, rgba(62, 3, 122, 1) 0%, rgba(5, 4, 119, 1) 100%) !important;
    color: #C5CCFC;
    overflow-x: hidden;
    font-family: 'Raleway', sans-serif !important;
}

h2 {
    font-family: 'Outfit', sans-serif !important;
}

#smallerScreenNav,
#btn {
    display: none;
}

#header {
    background: linear-gradient(90deg, rgba(62, 3, 122, 1) 0%, rgba(49, 0, 130, 1) 50%, rgba(7, 4, 118, 1) 100%);
    text-align: center;
}

.uk-column-1-2 {
    column-gap: 20% !important;
}

.uk-text-center {
    text-align: center!important;
}

p {
    font-size: calc(0.5rem + 1vw);
    line-height: 2.3rem;
    margin-bottom: 0 !important;
}

h2 {
    color: #9daaff !important;
    font-size: calc(1.2rem + 1vw) !important;
}

@media (max-width: 995px) {
    .uk-column-1-2 {
        display: contents !important;
    }

    .reverse {
        display: inline-flex !important;
        flex-direction: column-reverse;
        width: 100% !important;
    }

    .text {
        margin: auto;
        margin-bottom: 5%;
    }

    .uk-padding-large {
        padding: 0 !important;
    }

    .uk-text-center {
        margin-bottom: 5%;
    }

    .uk-text-center img {
        width: 55vw !important;
    }

    p {
        margin-top: 5% !important;
        font-size: calc(0.7rem + 1vw);
        text-align: justify !important;
        width: 55vw !important;
        margin: auto !important;
    }

    figure {
        margin: auto !important;
    }

    figure img {
        width: 55vw;
    }

    h2 {
        text-align: center;
    }

    .uk-width-1-2 {
        width: 100% !important;
    }
}

@media (max-width: 600px) {
    #biggerSceenNav {
        display: none;
    }

    #smallerScreenNav {
        display: flex;
    }

    .uk-text-center img,
    figure img,
    p {
        width: 80vw !important;
    }
}

@media (max-width: 450px) {
    #btn img {
        width: auto;
    }

    #btn {
        display: inline;
        background: #2a0254;
        border: none;
        padding: 1.5%;
        border-radius: 10%;
        color: #e2cafc;
        font-size: 4.5vw;
    }
}

@media (min-width: 450px) and (max-width: 675px) {
    #btn {
        display: inline;
        background: #2a0254;
        border: none;
        padding: 1.2%;
        border-radius: 10%;
        color: #e2cafc;
        font-size: 2.9vw;
    }
}