* {
  margin: 0;
  padding: 0;
}

body {
  background: linear-gradient(0deg, rgba(43, 2, 85, 1) 0%, rgba(5, 26, 70, 1) 100%);
  color: #E6CEFF;
  font-family: 'Raleway', sans-serif;
}

h2, h3{
  font-family: 'Outfit', sans-serif;
}

.uk-card-title {
  font-size: 1.8rem!important;
  line-height: 1.2!important;
}

.uk-card{
  padding: 5% 5% 2% 5%;
}

p{
  font-size: 1.3rem;
}

#hr {
  border: 1px solid #45056A;
}

.introduction {
  background-image: url(./images/background.png);
  background-repeat: no-repeat;
  background-size: cover;
}


#textbox {
  margin-left: 100px;
  background: rgba(19, 2, 29, 0.6);
  border-radius: 20px;
  width: 90%;

}

#title {
  color: #EDDCFF;
}

#smallerScreenNav {
  display: none;
}

canvas {
  border-radius: 10px;
}

.eventCard {
  width: 255px;
  height: 295px;
  background: rgba(19, 2, 29, 0.6);
  text-align: center;
  margin: 10px;
  border-radius: 10px;
  padding: 5px;
}

.eventCard img {
  width: 170px;
  height: 170px;
  margin: 15px;
  border-radius: 12px;
  margin-bottom: 1px;
}

#nameOfTheEvent {
  font-weight: 600;
  font-size: 18px;
  text-align: center;
  margin-top: 10px;
  margin-bottom: 0;
  color: #e6ceff;
}

.dateOfTheEvent {
  font-weight: 600;
  font-size: 26px;
  line-height: 31px;
  text-align: center;
  margin: 0;
}

.monthName {
  writing-mode: vertical-rl;
  text-orientation: upright;
  margin-top: 10px;
  font-size: 1.8rem;
  align-self: center;
  color: #9eb8f4;
}

.lineOfEvents {
  display: inline-flex;
  flex-wrap: wrap;
  justify-content: center;
}
#btn{
  display: none;
}

@media (max-width: 400px) {
  #btn{
    display: inline;
    background: #2a0254;
    border: none;
    padding: 3%;
    border-radius: 10%;
    color: #e2cafc;
    font-size: 4.5vw;
  }
}

@media (min-width: 400px) and (max-width: 600px) {
  #btn{
    display: inline;
    background: #2a0254;
    border: none;
    padding: 1.2%;
    border-radius: 10%;
    color: #e2cafc;
    font-size: 2.9vw;
  }
}

@media (max-width: 600px) {
  #biggerSceenNav {
    display: none;
  }

  #smallerScreenNav {
    display: flex;
  }

  .monthName {
    writing-mode: unset;
    text-orientation: unset;
    text-align: center;
  }

  .lineOfEvents {
    display: block;
  }

  .eventCard {
    margin: 0 auto;
    margin-top: 30px;
  }

  .events{
    display: inline-block;
  }

  #center{
    display:flex;
    justify-content: center;
  }
}

@media (min-width: 700px) and (max-width:1024px) {
  #textbox {
    width: 50%;
  }
}

@media (max-width: 1024px) {
  .uk-column-1-2 {
    display: contents;
  }

  #textbox {
    margin-left: 0;
    margin-bottom: 5%;
  }
}