* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: linear-gradient(0deg, rgba(43, 2, 85, 1) 0%, rgba(5, 26, 70, 1) 100%);
    background-repeat: no-repeat;
    color: #EDDCFF;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    color: #EDDCFF;
    height: 60px;
    background: #2A0254;
}

.nav-links a {
    color: #EDDCFF;
    text-decoration: none;
}

.logo img {
    height: 50px;
    width: 200px;
}

.menu {
    display: flex;
    gap: 1em;
    font-size: 18px;
    text-align: center;
    align-items: center;
}

.menu li {
    padding: 5px 14px;
}

.menu li:hover {
    background: #051a46;
    border-radius: 20px 5px;
    transition: 0.26s ease-in;
}

.starsAndConstellations {
    position: relative;
}

.dropdown {
    background: linear-gradient(0deg, rgba(5, 26, 70, 1) 0%, rgba(43, 2, 85, 1) 100%);
    margin-left: -13px;
    position: absolute;
    display: none;
    border-radius: 10px;
    top: 35px;
    text-align: center;
    list-style-position: inside;
}

.dropdown li {
    display: inline-block;
    text-align: center;
    margin: 0 10px;
}

.dropdown li:hover {
    background: transparent;
}

.starsAndConstellations:hover .dropdown {
    display: block;
}

.navbar ul {
    list-style-type: none;
}

.introduction {
    background-image: url(images/background.png);
    height: auto;
    background-repeat: no-repeat;
    background-size: cover;
}


.textbox {
    width: 45%;
    height: 100%;
    margin-top: 30px;
    margin-left: 100px;
    margin-bottom: 30px;
    background: rgba(19, 2, 29, 0.6);
    border-radius: 20px;
}

.heading {
    height: 162px;
    font-style: normal;
    font-weight: 600;
    font-size: 38px;
    line-height: 48px;
    display: flex;
    align-items: center;
    text-align: center;
    padding: 37px;
}

.text {
    height: 140px;
    font-weight: 200;
    font-size: 22px;
    line-height: 40px;
    display: flex;
    align-items: center;
    text-align: center;
    padding: 50px;
}

.image img {
    width: 340px;
    height: 315px;
    border-radius: 50px;
    margin-top: 23px;
}

.line {
    display: flex;
    gap: 140px;
    margin-left: 100px;
}


hr {
    border: 1px solid #45056A;
}

.eventCard {
    width: 240px;
    height: 295px;
    background: rgba(19, 2, 29, 0.6);
    text-align: center;
    margin: 10px;
    border-radius: 10px;
    padding: 5px;
}

.eventCard img {
    width: 170px;
    height: 170px;
    margin: 15px;
    border-radius: 12px;
}

#nameOfTheEvent {
    font-weight: 600;
    font-size: 18px;
    text-align: center;
    margin-top: 10px;
}

.dateOfTheEvent {
    font-weight: 600;
    font-size: 26px;
    line-height: 31px;
    text-align: center;
}

.monthName {
    writing-mode: vertical-rl;
    text-orientation: upright;
    margin-top: 20px;
}

.monthContainer {
    display: flex;
    margin-bottom: 50px;
    margin-top: 10px;
    gap: 70px;
}

.events {
    margin-left: 30px;
}


.btn {
    margin: auto;
    margin-bottom: 3%;
    align-items: center;
    background-image: linear-gradient(144deg, #AF40FF, #5B42F3 50%, #00DDEB);
    border: 0;
    border-radius: 8px;
    box-shadow: rgba(151, 65, 252, 0.2) 0 15px 30px -5px;
    box-sizing: border-box;
    color: #FFFFFF;
    display: flex;
    font-family: Phantomsans, sans-serif;
    font-size: 18px;
    justify-content: center;
    line-height: 1em;
    max-width: 100%;
    min-width: 140px;
    padding: 3px;
    text-decoration: none;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    white-space: nowrap;
    cursor: pointer;
    transition: all .3s;
}

.btn:active,
.btn:hover {
    outline: 0;
}

.btn span {
    background-color: rgb(5, 6, 45);
    padding: 10px 20px;
    border-radius: 6px;
    width: 100%;
    height: 100%;
    transition: 300ms;
}

.btn:hover span {
    background: none;
}

.btn:active {
    transform: scale(0.9);
}


@media (min-width:1550px) {
    .navbar {
        height: 7vh;
    }

    .logo img {
        height: 6.5vh;
        width: auto;
    }

    .menu{
        font-size: 1.5vw;
    }

    .dropdown{
        top: 5.5vh;
    }

    .line {
        align-items: center;
        justify-content: center;
        margin-left: 0;
        gap: 10%;
    }

    .textbox {
        margin-left: 0;
        width: 40%;
        margin-top: 35px;
    }

    .heading {
        font-size: 2vw;
        height: 17vh;
    }

    .text {
        font-size: 1.6vw;
        height: 17vh;
    }

    .image img {
        width: 20vw;
        height: 35vh;
        margin: 5%;
    }

    .monthContainer {
        gap: 5%;
    }

    .eventCard {
        width: 18vw;
        height: 100%;
    }

    .eventCard img {
        width: 80%;
        height: 30vh;
    }

    .monthName {
        font-size: 1.9vw;
    }

    #nameOfTheEvent {
        font-size: 1.4vw;
    }

    #dateOfTheEvent {
        font-size: 1.2vw;
        margin-bottom: 20px;
    }
}

@media (min-width:1450px) and (max-width: 1500px) {

    .eventCard {
        width: 260px;
        height: 300px;
    }

    .eventCard img {
        width: 200px;
        height: 200px;
    }

    .monthName {
        font-size: 26px;
    }
}

@media (min-width: 1141px) and (max-width: 1291px) {
    .monthContainer {
        gap: 30px;
    }

    .line {
        gap: 120px;
        margin-left: 100px;
    }

    .textbox {
        width: 40%;
        margin-top: 30px;
        margin-left: 100px;
    }

    .heading {
        font-size: 29px;
        padding: 20px;
        height: 140px;
        line-height: 35px;
    }

    .text {
        height: 115px;
        font-size: 20px;
        padding: 30px;
    }

    .image img {
        width: 280px;
        height: 263px;
        margin-top: 24px;
    }
}

@media (min-width: 1003px) and (max-width: 1140px) {

    .line {
        gap: 100px;
        margin-left: 50px;
    }

    .textbox {
        width: 40%;
        height: 75%;
        margin-top: 30px;
        margin-left: 100px;
    }

    .heading {
        font-size: 27px;
        line-height: 35px;
    }

    .text {
        height: 120px;
        font-size: 18px;
        padding: 30px;
    }

    .image img {
        width: 300px;
        height: 278px;
        margin-top: 25px;
    }

    .monthContainer {
        gap: 10px;
    }

    .eventCard {
        width: 240px;
        height: 260px;
        padding: 5px;
    }

    .eventCard img {
        width: 160px;
        height: 160px;
    }

    #nameOfTheEvent {
        font-size: 16px;
    }
}

@media (min-width: 833px) and (max-width:1002px) {
    p {
        font-size: smaller;
    }

    .line {
        display: flex;
        gap: 110px;
        margin-left: 100px;
    }

    .textbox {
        width: 45%;
        height: 70%;
        margin-top: 25px;
        margin-left: 0;
    }

    .heading {
        height: 120px;
        font-size: 25px;
        line-height: 30px;
        padding: 13px;
    }

    .text {
        height: 100px;
        font-size: 18px;
        padding: 15px;
        line-height: 25px;
    }

    .image img {
        width: 250px;
        height: 230px;
        margin-top: 20px;
        margin-right: 40px;
    }

    .monthContainer {
        gap: 10px;
        flex-wrap: wrap;
    }

    .monthName {
        margin-top: 5px;
    }

    .eventCard {
        width: 200px;
        height: 260px;
    }

    .eventCard img {
        width: 160px;
        height: 160px;
    }

    #nameOfTheEvent {
        font-size: 17px;
        ;
    }

    .eventCard:nth-child(n + 3) {
        margin-left: 50px;
    }
}

@media (min-width: 702px) and (max-width:832px) {
    .line {
        gap: 65px;
        margin-left: -10px;
    }

    .textbox {
        width: 60%;
        height: 100%;
        margin-top: 25px;
        margin-left: 80px;
    }

    .heading {
        height: 120px;
        font-size: 22px;
        padding: 10px;
        line-height: 30px;
    }

    .text {
        height: 110px;
        font-size: 16px;
        padding: 10px;
        line-height: 30px;
    }

    .image img {
        width: 260px;
        height: 240px;
        margin-top: 20px;
        margin-right: 40px;
    }

    .monthContainer {
        gap: 30px;
        flex-wrap: wrap;
    }

    .eventCard:nth-child(n + 3) {
        margin-left: 70px;
    }
}

@media (min-width: 641px) and (max-width:702px) {

    .line {
        gap: 65px;
        margin-left: -10px;
    }

    .textbox {
        width: 60%;
        height: 100%;
        margin-top: 25px;
        margin-left: 80px;
    }

    .heading {
        height: 110px;
        font-size: 22px;
        padding: 10px;
        line-height: 30px;
    }

    .text {
        height: 100px;
        font-size: 16px;
        padding: 10px;
        line-height: 30px;
    }

    .image img {
        width: 220px;
        height: 230px;
        margin-top: 20px;
        margin-right: 40px;
    }

    .monthContainer {
        gap: 20px;
        flex-wrap: wrap;
    }

    .eventCard {
        width: 210px;
        height: 275px;
    }

    .eventCard:nth-child(n + 3) {
        margin-left: 60px;
    }
}

@media (min-width: 603px) and (max-width:640px) {

    .line {
        gap: 65px;
        margin-left: -10px;
    }

    .textbox {
        width: 60%;
        height: 100%;
        margin-top: 25px;
        margin-left: 80px;
    }

    .heading {
        height: 100px;
        font-size: 18px;
        padding: 30px;
        line-height: 25px;
    }

    .text {
        height: 97px;
        font-size: 16px;
        padding: 30px;
        line-height: 20px;
    }

    .image img {
        width: 200px;
        height: 205px;
        margin-top: 20px;
        margin-right: 40px;
    }

    .monthContainer {
        gap: 10px;
        flex-wrap: wrap;
    }

    .eventCard {
        width: 220px;
        height: 270px;
    }

    .eventCard:nth-child(n + 3) {
        margin-left: 51px;
    }
}

@media (min-width: 501px) and (max-width:603px) {
    .navbar {
        height: 50px;
    }

    .logo img {
        width: 150px;
        height: 50px;
    }

    .menu {
        gap: 0;
        font-size: 15px;
    }

    .introduction {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .line {
        display: flex;
        justify-content: center;
        gap: 50px;
        margin-left: 0;
    }

    .textbox {
        width: 45%;
        margin-top: 18px;
        margin-left: 15px;
        position: relative;
    }

    .heading {
        height: 15vh;
        font-size: 20px;
        line-height: 20px;
        padding: 15px;
    }

    .text {
        height: 15vh;
        font-size: 16px;
        line-height: 20px;
        padding: 15px;
    }

    .image img {
        width: 230px;
        height: 235px;
        margin-top: 15px;
    }

    .monthName {
        writing-mode: unset;
        text-orientation: unset;
        text-align: center;
    }

    .monthContainer {
        display: block;
    }

    .eventCard {
        margin: 0 auto;
        margin-top: 30px;
    }
}

@media (max-width: 500px) {

    .navbar {
        height: 50px;
    }

    .logo img {
        width: 150px;
        height: 50px;
    }

    .menu {
        gap: 0;
        font-size: 15px;
    }

    .introduction {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .line {
        display: flex;
        justify-content: center;
        gap: 0;
        margin-left: 0;
    }

    .textbox {
        width: 70%;
        margin-top: 20px;
        margin-left: 15px;
        position: relative;
    }

    .heading {
        height: 15vh;
        font-size: 20px;
        line-height: 20px;
        padding: 15px;
    }

    .text {
        height: 15vh;
        font-size: 16px;
        line-height: 20px;
        padding: 15px;
    }

    .image img {
        display: none;
    }

    .monthName {
        writing-mode: unset;
        text-orientation: unset;
        text-align: center;
    }

    .monthContainer {
        display: block;
    }

    .eventCard {
        margin: 0 auto;
        margin-top: 30px;
    }
}