.text-medium {
    font-size: 1.3rem;
    line-height: 180%;
    color: aliceblue;
}

section {
    padding: 3%;
}

td img {
    width: 50vw;
}

td h2 {
    color: #9eb8f4;
}

td p {
    font-size: 1.15rem;
}

#eartshine {
    width: 33vw;
}

#daytimeMoon {
    width: 26vw;
}

.daytimeMoonHeading {
    text-align: right;
    color: #debeff;
}

.earthshineP{
    margin: auto;
}

@media (min-width: 1009px) and (max-width:1050px) {
    .text-medium {
        font-size: 1.05rem;
    }
}

@media (min-width: 850px) and (max-width:1009px) {
    .text-medium {
        font-size: 2vw;
    }

    .eartshineHeading,
    .daytimeMoonHeading{
        font-size: 3.5vw;
    }
}

@media (min-width: 600px) and (max-width:850px) {
    .text-medium {
        font-size: 2.6vw;
    }

    .eartshineHeading,
    .daytimeMoonHeading{
        font-size: 4vw;
    }
}

@media (min-width: 550px) and (max-width:600px) {
    .text-medium {
        font-size: 3vw;
    }
}

@media (min-width: 550px) and (max-width:1009px) {
    td img {
        width: 200rem;
    }

    h2,
    .daytimeMoonHeading {
        text-align: center;
    }

    #eartshine,
    #daytimeMoon {
        width: auto;
        text-align: center;
    }

    #daytimeMoon {
        float: none;
        margin: 0;
    }

    .earthshineP{
        margin-left: 0;
    }
}

@media (max-width: 550px) {
    tr {
        display: grid;
    }

    td img,
    img {
        width: 100%;
        height: 100%;
    }

    figure figcaption {
        text-align: justify;
    }

    .text-medium {
        font-size: 3.5vw;
        text-align: justify;
        margin: 0;
    }

    .uk-column-1-2 {
        display: contents;
    }

    #eartshine,
    #daytimeMoon,
    .daytimeMoonHeading,
    .eartshineHeading {
        width: auto;
        text-align: center;
    }

    #daytimeMoon {
        margin: 0;
    }
}

@media (min-width: 450px) and (max-width: 600px) {
    #btn img, img {
        width: auto!important;
    }

    #btn {
        display: inline;
        background: #2a0254;
        border: none;
        padding: 1.2%;
        border-radius: 10%;
        color: #e2cafc;
        font-size: 2.9vw;
    }
}

@media (max-width: 450px){
    .text-medium {
        font-size: 5vw;
    }
    
    .eartshineHeading,
    .daytimeMoonHeading{
        font-size: 1.9rem;
    }

    #btn img, img {
        width: auto!important;
    }

    #btn {
        display: inline;
        background: #2a0254;
        border: none;
        padding: 1.5%;
        border-radius: 10%;
        color: #e2cafc;
        font-size: 4.5vw;
    }
}

