.navbar {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: rgb(116, 30, 113);
    background: linear-gradient(0deg, rgba(116, 30, 113, 1) 0%, rgba(10, 22, 84, 1) 100%);
    background-repeat: no-repeat;
    color: #CAF7F3;
    font-family: Segoe UI;
}

.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    color: #EDDCFF;
    height: 60px;
    background: #2A0254;
    margin: -8px;
}

.nav-links a {
    color: #EDDCFF;
    text-decoration: none;
}

.logo img {
    height: 50px;
    width: 200px;
}

.menu {
    display: flex;
    gap: 1em;
    font-size: 18px;
}

.menu li {
    padding: 5px 14px;
}

.menu li:hover {
    background: #051a46;
    border-radius: 20px 5px;
    transition: 0.26s ease-in;
}

.starsAndConstellations {
    position: relative;
}

.dropdown {
    background: linear-gradient(0deg, rgba(5, 26, 70, 1) 0%, rgba(43, 2, 85, 1) 100%);
    margin-left: -13px;
    position: absolute;
    display: none;
    border-radius: 10px;
    top: 100%;
    text-align: center;
    list-style-position: inside;
}

.dropdown li {
    display: inline-block;
    text-align: center;
    padding-right: 40px;
}

.dropdown li:hover {
    background: transparent;
}

.starsAndConstellations:hover .dropdown {
    display: block;
}

.navbar ul {
    list-style-type: none;
}

h1,
h2 {
    color: #7CE4DC;
    text-align: center;
    font-style: italic;
}

h1 {
    font-weight: 700;
}

h2 {
    font-weight: 600;
}

img {
    width: 30vw;
    height: auto;
}

.textCentered {
    text-align: center;
    font-size: 18px;
    font-weight: 400;
    line-height: 180%;
}

.rightAlign {
    text-align: right;
}

figcaption {
    text-align: center;
    font-size: 16px;
    font-weight: 300;
    line-height: 180%;
    width: 30vw;
}

.container,
.containerBiggerScreen {
    display: flex;
    justify-content: center;
    gap: 20%;
    margin-top: 40px;
}

.containerSmallerScreen {
    display: none;
}

.text p {
    font-size: 18px;
    font-weight: 400;
    line-height: 255%;
    width: 35vw;
}

.btn {
    margin: auto;
    margin-top: 2%;
    align-items: center;
    background-image: linear-gradient(144deg, #AF40FF, #5B42F3 50%, #00DDEB);
    border: 0;
    border-radius: 8px;
    box-shadow: rgba(151, 65, 252, 0.2) 0 15px 30px -5px;
    box-sizing: border-box;
    color: #FFFFFF;
    display: flex;
    font-family: Phantomsans, sans-serif;
    font-size: 18px;
    justify-content: center;
    line-height: 1em;
    max-width: 100%;
    min-width: 140px;
    padding: 3px;
    text-decoration: none;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    white-space: nowrap;
    cursor: pointer;
    transition: all .3s;
}

.btn:active,
.btn:hover {
    outline: 0;
}

.btn span {
    background-color: rgb(5, 6, 45);
    padding: 10px 20px;
    border-radius: 6px;
    width: 100%;
    height: 100%;
    transition: 300ms;
}

.btn:hover span {
    background: none;
}

.btn:active {
    transform: scale(0.9);
}


@media (min-width: 2000px) {
    .navbar {
        height: 8vh;
    }

    .menu {
        font-size: 1.5vw;
    }

    .logo img {
        height: 8vh;
        width: auto;
    }

    h1 {
        margin-top: 2%;
        font-size: 2.5vw;
        ;
    }

    h2 {
        font-size: 2.5vw;
    }

    .textCentered, .text p {
        font-size: 1.4vw;
        line-height: 200%;
    }

    figcaption {
        font-size:1.3vw;
    }
    .container, .containerBiggerScreen{
        gap: 17%;
    }
}

@media (min-width: 130px) and (max-width:1400px) {
    .text p {
        line-height: 230%;
    }
}

@media (min-width: 1150px) and (max-width:1300px) {
    .text p {
        line-height: 210%;
    }
}

@media (min-width: 1100px) and (max-width:1150px) {
    .text p {
        line-height: 180%;
        width: 40vw;
    }

    .container,
    .containerBiggerScreen {
        gap: 15%;
    }
}

@media (min-width: 750px) and (max-width:1100px) {
    .logo img {
        height: 7vh;
        width: auto;
    }

    .form {
        width: 40vw;
    }

}

@media (max-width:750px) {
    .logo img {
        height: auto;
        width: 100px;
    }

    .form {
        width: 75vw;
    }
}

@media (max-width: 1100px) {

    .menu li {
        padding: 5px 3px;
    }

    .dropdown {
        z-index: 100;
        margin-left: -5%;
        padding: 5px;
    }

    .dropdown li {
        font-size: 15px;
    }

    .navigation {
        gap: 0;
        margin-left: -15px;
        width: 100.7vw;
    }

    .menu {
        font-size: 15px;
        align-items: center;
        margin-left: -10%;
    }

    .container {
        display: block;
    }

    p,
    .text p {
        width: 95vw;
        text-align: center;
        margin-top: 0;
    }

    img {
        width: 70vw;
    }

    figure {
        text-align: center;
    }

    figcaption {
        width: 71vw;
        margin: auto;
    }

    main {
        margin-bottom: 10%;
    }

    .containerBiggerScreen {
        display: none
    }

    .containerSmallerScreen {
        display: block;
    }
}